@model OrderViewModel

@{
}

<h2>Create Order</h2>
<form method="post" action="Edit">
    <input type="text" asp-for="CustomerId" hidden="hidden"/>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.OrderLineItems.Any())
        {
            @foreach (var item in Model.OrderLineItems)
            {
                <tr>
                    <td hidden="hidden">@item.UniqueIdentifier</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">There are no items in your cart.</td>
            </tr>
        }
        </tbody>
    </table>
    <button type="button" class="btn btn-sm btn-primary">Update</button>
</form>